@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.hero-bg {
  background: #307d79 url("../images/bg.jpg");
  background-position: 12% 83%;
  color: white;
  text-align: center;
  padding-bottom: 4em;
}

.hero-bg header {
  padding: 1em 0;
}

.hero-bg h1 {
  font-size: 2.5em;
  margin: 2em 0 1.2em;
}

.hero-bg h1 span {
  text-transform: uppercase;
  font-size: 1.5rem;
  display: block;
  position: relative;
}

.hero-bg h1 span::before {
  content: '';
  position: absolute;
  width: 3em;
  background-color: #00bfff;
  height: .25em;
  bottom: 0;
  margin-left: -0.3em;
  z-index: 0;
}

.hero-bg p {
  font-weight: bold;
  margin: 0 1em 3em;
}

.hero-bg a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}

.form-container {
  background-color: white;
  margin: 2em -1em 0;
  padding: 2em;
  color: black;
}

.form-container label {
  color: #2d7d98;
  font-weight: bold;
  display: block;
  margin: 1em;
  font-size: 1.2em;
}

.form-container input[type=text] {
  border: 1px solid #707070;
  width: 100%;
  padding: 1em;
  border-radius: .5em;
  margin-top: 1.5em;
  box-sizing: border-box;
}

.form-container p {
  color: gray;
  margin-bottom: 1.5em;
  font-weight: normal;
  font-size: .9em;
  margin-top: .9em;
}

.form-container input[type=button] {
  background-color: #f89104;
  border: none;
  width: 100%;
  color: white;
  font-weight: bole;
  padding: 1em 0;
  border-radius: .5em;
  font-size: 1.3em;
  cursor: pointer;
}

.form-container input[type=button]:hover {
  background-color: #db8206;
}

section {
  margin: 0 1em;
}

.authentic {
  margin: 0;
  background-color: white;
  text-align: center;
}

.authentic img {
  width: 100%;
}

.authentic .right-col {
  text-align: center;
  margin: 3em 1em;
}

.authentic h2 {
  text-transform: uppercase;
  position: relative;
}

.authentic h2::before {
  content: '';
  position: absolute;
  width: 10em;
  background-color: #00bfff;
  height: .25em;
  bottom: 0;
  margin-left: -0.3em;
  z-index: 1;
}

.authentic p {
  line-height: 2em;
}

@media (min-width: 730px) {
  section {
    margin: 0 4em;
  }
  .form-container {
    margin: 2em -4em 0;
  }
}

@media (min-width: 930px) {
  .hero-bg {
    text-align: left;
  }
  .hero-bg p {
    margin: 0 0 3em;
  }
  .hero-bg section {
    width: 65%;
  }
  .hero-bg form {
    display: flex;
  }
  .hero-bg form .form-left {
    width: 70%;
  }
  .hero-bg form label {
    margin: 0;
  }
  .hero-bg form input[type=button] {
    height: fit-content;
    font: 1.1em;
    margin-left: 1em;
    margin-top: 1.9em;
    padding: .4em 0;
    width: 30%;
  }
  .hero-bg form p {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .hero-bg .form-container {
    margin: 2em 0 0;
    padding: 2em;
    border-radius: .8em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  }
  .hero-bg section {
    animation: fadeIn 2s forwards;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-2em);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .authentic {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "bowl content";
  }
  .authentic .right-col {
    grid-area: content;
    padding: 0 10%;
    text-align: left;
    align-self: center;
  }
  .authentic img {
    grid-area: bowl;
  }
  .authentic h2 {
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */